<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TimeSheetTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="TimesheetReportsDb" connectionString="Data Source=poseidon\sqlexpress; Initial Catalog=TimeSheetReports; Integrated Security=False; User Id=timesheetuser; Password=T1m3sh33tus3r" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 <applicationSettings>
   <TimeSheetTool.Properties.Settings>
     <setting name="Projects" serializeAs="Xml">
       <value>
         <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema">
           <string>'Trafigura Ecore Navison - 920.8827'</string>
           <string>'Trafigura PUMA TMS - T2 116.058'</string>
         </ArrayOfString>
       </value>
     </setting>
     <setting name="CostCentreSheetName" serializeAs="String">
       <value>Company &amp; Cost Centre</value>
     </setting>
   </TimeSheetTool.Properties.Settings>
 </applicationSettings>
</configuration>

